html {
  padding-left: 10pt;
  padding-right: 10pt;
}

body {
  color: #222;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  max-width: 962px;
  margin: auto;
  background-color: #FFF6E9;
}

h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 2em;
  color: #FF7F3E;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  padding-top: 2rem;
  margin-bottom: 0;
}

h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.5em;
  color: #604CC3;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}

h2>a {
  color: #604CC3;
}

h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #80C4E9;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
}

h3>a {
  color: #80C4E9;
}

a {
  text-decoration: none;
}

h1>a,
p>a {
  color: #FF7F3E;
}

blockquote {
  font-size: 2em;
  margin: 0;
  font-weight: lighter;
}

p {}

div.nav>ul {
  float: right;
}

.nav li {
  float: left;
  list-style-type: none;
  position: relative;
}

.nav li a {
  padding-left: 0.75rem;
  font-size: 1.1rem;
  font-family: "Maven Pro", sans-serif;
  color: #80C4E9;
  font-weight: bold;
  font-optical-sizing: auto;
  font-style: normal;
}

footer {
  padding-top: 1rem;
  font-weight: 500;
  color: #80C4E9;
  text-align: center;
}