<header>
    <div class="nav">
        <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            {{ with .Site.GetPage "devlog" }}
            <li><a href="{{.Permalink}}">Devlog</a></li>
            {{end }}
            {{ with .Site.GetPage "screenshots" }}
            <li><a href="{{.Permalink}}">Screenshots</a></li>
            {{ end }}
            {{ with .Site.GetPage "purchase" }}
            <li><a href="{{.Permalink}}">Purchase</a></li>
            {{ end }}
            {{ with .Site.GetPage "policies" }}
            <li><a href="{{.Permalink}}">Policies</a></li>
            {{ end }}
        </ul>
    </div>
</header>