<header>
    <div class="nav">
        <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            {{ with .Site.GetPage "devlog" }}
            <li><a href="{{.Permalink}}">Devlog</a></li>
            {{end }}
            {{ with .Site.GetPage "screenshots" }}
            <li><a href="{{.Permalink}}">Screenshots</a></li>
            {{ end }}
            {{ with .Site.GetPage "get" }}
            <li><a href="{{.Permalink}}">Get</a></li>
            {{ end }}
        </ul>
    </div>
</header>